<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066035850245-eucckp1ia1mb42anp3hq3da9opq33m02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066035850245-eucckp1ia1mb42anp3hq3da9opq33m02</string>
	<key>API_KEY</key>
	<string>AIzaSyBCddfa6D8fQYOxHmJrtl2WteWAd9s5hpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1066035850245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Elizbar-Personal.SwiftaGram</string>
	<key>PROJECT_ID</key>
	<string>swiftagram-f6171</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftagram-f6171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066035850245:ios:37f57a6036c37cc73b406c</string>
</dict>
</plist>